.header {

}
.header__wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__logo {
    margin-left: 16px;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
    border-radius: 6px;
    font-family: 'Red Hat Display';
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.header__logo-title {
    padding-left: 12px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: #0C2146;
}

.header__sell {
    margin-left: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.004em;
    color: #5A5B6A;
}
.header__register {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #5A5B6A;
}

.header__form {
    margin-left: 91px;
}

.form {
    background: #EDEDF0;
    width: 668px;
    height: 48px;
    border-radius: 99px;
}

.form__label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    padding-left: 44px;
    padding-right: 44px;
}

.form__label::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    background: url('../img/svg/search.svg');
    background-size: initial;
}

.form__label::after {
    cursor: pointer;
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 630px;
    background: url('../img/svg/close.svg');
    background-size: initial;
}

.form__input {
    width: 100%;
    border: none;
    background: #EDEDF0;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #19191D;

}

.header__consumer {
    margin-left: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #2264D1;
}

.header__sign {
    margin-left: 107px;
    border: 1px solid #9DC2FF;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.0075em;
    color: #2264D1;
    transition: box-shadow ease-in .2s;
}

.header__sign:hover {
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
}

.header__cart {
    margin-left: 21px;
    border: 1px solid #9DC2FF;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.0075em;
    color: #2264D1;
    transition: box-shadow ease-in .2s;
}

.header__cart:hover {
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
}

.header__avatar {
    margin-left: 16px;
}