.header {

}
.header__wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__logo {
    margin-left: 16px;
    width: 40px;
    height: 40px;
    background: linear-gradient(90deg, #2979FF 0%, #4C589E 100%);
    border-radius: 6px;
    font-family: 'Red Hat Display';
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.header__logo-title {
    padding-left: 12px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: #0C2146;
}

.header__sell {
    margin-left: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.004em;
    color: #5A5B6A;
}
.header__register {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.0075em;
    color: #5A5B6A;
}

.header__search {
    border: none;
    padding-left: 44px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 668px;
    margin-left: 91px;
    background: #EDEDF0;
    border-radius: 99px;
}